body {
    margin: 0;
    padding: 0;
    background-image: url("img/initial/background.jpg");
    background-size: cover;
    background-origin: revert;
    background-repeat: no-repeat;
    overflow: hidden;
}

.c-grid {
    margin-top: 4%;
    margin-left: 4.5%;
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

iframe[id^="window_"] {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100vw;
    height: 100vh;
}