body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
  font-family: sans-serif;
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#background-img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

#cloudIMG {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* #current-window {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 82%;
  background-color: gray;
  display: none;
  visibility: hidden;
  overflow: hidden;
  overflow-x: hidden;
} */
/* 
#window {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 82%;
  background-color: gray;
  display: none;
  visibility: hidden;
  overflow: hidden;
  overflow-x: hidden;
} */

.appWindow {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 82%;
  background-color: #797979;
  /* background-color: #fff; */
  display: none;
  overflow: hidden;
  overflow-x: hidden;
  /* opacity: 98%; -> Uncomment to enable transperent App Background <- */
}

#start-menu-button img {
  left: 40%;
  bottom: 0px;
  position: absolute;
}

#start-menu-button:hover {
  transition: 2s;
  opacity: 100%;
}

#start-menu-button:not(:hover) {
  transition: 2s;
  opacity: 50%;
}

#shutdown-menu-button:hover {
  transition: 2s;
  opacity: 100%;
}

#shutdown-menu-button:not(:hover) {
  transition: 2s;
  opacity: 50%;
}

#shutdown-menu-button img {
  left: 48%;
  bottom: 0px;
  position: absolute;
}

#shutdown-dialog {
  top: 30%;
  left: 30%;
  width: 40%;
  height: 35%;
  position: absolute;
  background-color: darkgray;
  color: white;
  visibility: hidden;
  display: none;
}

#dialog_nonsys {
  top: 30%;
  left: 30%;
  width: 40%;
  height: 35%;
  position: absolute;
  background-color: darkgray;
  color: white;
  visibility: hidden;
  display: none;
}

.dialog-title {
  font-size: 44px;
}

.dialog-content {
  font-size: 40px;
}

.dialog-button {
  font-size: 40px;
}

#icon {
  display: inline-block;
  width: 6%;
  height: 5%;
  margin: 4%;
  color: white;
  text-align: center;
}

.app_sec {
  border-radius: 10%;
  padding: 1%;
  /* border-width: thin; */
  background: rgba(71, 71, 71, 0.8);
}
#icon img {
  width: 90%;
  height: 80%;
  background-color: rgb(40, 128, 0);
  /* border: 1px solid rgba(71, 71, 71, 0.5); */
  /* opacity: 50%; */
}

#taskbar_icon {
  /* width: 8%;
  height: 15%; */
  bottom: 0%;
  position: absolute;
  margin-left: 17%;
}

.hidden {
  visibility: hidden;
  display: none;
}

.shown {
  visibility: visible;
  display: inline-block;
}
#notification {
  top: 0px;
  position: absolute;
  display: none;
}
#time {
  font-size: 4vh;
  top: 45%;
  right: -2.5%;
  width: 6.3%;
  max-width: 6.3%;
  word-wrap: anywhere;
  position: absolute;
  color: #ffffff;
  background: #333;
  padding-right: 2%;
  border-radius: 5%;
  /* float: right; */
}

webview {
  width: 100%;
  height: 100%;
}

#taskbar {
  height: 18%;
  width: 100%;
  overflow: hidden;
}

.app_title {
  font-size: 1vw;
}

.wind_an_open {
  display: block;
  opacity: 100%;
  animation: win_anim_open 500ms;
}

@keyframes win_anim_open {
  0%{
    opacity: 0%;
  }
  10% {
    opacity: 10%;
  }
  20% {
    opacity: 20%;
  }
  30%{
    opacity: 30%;
  }
  40% {
    opacity: 40%;
  }
  50% {
    opacity: 60%;
  }
  60%{
    opacity: 70%;
  }
  70% {
    opacity: 80%;
  }
  80% {
    opacity: 90%;
  }
  90% {
    opacity: 100%;
  }
}

.wind_an_close {
  display: block;
  opacity: 0%;
  animation: win_anim_close 500ms;
}

@keyframes win_anim_close {
  0%{
    opacity: 100%;
  }
  10% {
    opacity: 90%;
  }
  20% {
    opacity: 80%;
  }
  30%{
    opacity: 70%;
  }
  40% {
    opacity: 60%;
  }
  50% {
    opacity: 50%;
  }
  60%{
    opacity: 40%;
  }
  70% {
    opacity: 30%;
  }
  80% {
    opacity: 20%;
  }
  90% {
    opacity: 10%;
  }
  100 % {
    opacity: 0%;
  }
}

.c-grid {
  margin: 1%;
  display: inline-block;
}